<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:integration="http://www.springframework.org/schema/integration"
       xmlns:file="http://www.springframework.org/schema/integration/file"
       xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd http://www.springframework.org/schema/integration/file http://www.springframework.org/schema/integration/file/spring-integration-file.xsd http://www.springframework.org/schema/integration/xml http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd">

    <bean id="fileSelector" class="pl.dzmitrow.training.lab03.ShipOrderFileSelector" />

    <int-xml:xpath-expression expression="//country='Norway'" id="countrySelector"/>

    <file:inbound-channel-adapter directory="file:/Users/dogrizz/inbound" channel="files">
        <integration:poller fixed-rate="5000"/>
    </file:inbound-channel-adapter>

    <integration:chain input-channel="files" output-channel="shipOrders">
        <integration:filter ref="fileSelector"/>
        <file:file-to-string-transformer charset="UTF-8"/>
        <int-xml:validating-filter schema-location="shiporder.xsd"/>
        <int-xml:xpath-filter xpath-expression-ref="countrySelector" />
        <integration:transformer expression="payload.toUpperCase()"/>
    </integration:chain>

    <file:outbound-channel-adapter directory="file:/Users/dogrizz/outbound" channel="shipOrders"/>

    <integration:channel id="files"/>

    <integration:channel id="shipOrders"/>

</beans>